<footer class="footer" role="contentinfo">
	
	<div class="container-1024 h-centered clear">
	
		<div class="align-left left-pane">
		
			<!-- START: SOCIAL PANE -->
			@@include('../blocks/social-pane.html')
			<!-- END: SOCIAL PANE -->

		</div>

		<div class="align-right right-pane">
		
			<!-- START: ADS (SQUARE) -->
			@@include('../blocks/ads--square.html')
			<!-- END: ADS (SQUARE) -->

			<!-- START: ADS (SQUARE) -->
			@@include('../blocks/ads--square.html')
			<!-- END: ADS (SQUARE) -->

		</div>

	</div>
	
	<!-- START: ADS (WIDE) -->
	@@include('../blocks/ads--wide.html')
	<!-- END: ADS (WIDE) -->
	
	<div class="footer-branding">

		<div class="align-left">
		
			<!-- START: LOGO (HEADER) -->
			@@include('../blocks/logos--footer.html')
			<!-- END: LOGO (HEADER) -->

		</div>

		<div class="align-right">
		
			<!-- START: SITEMAP -->
			@@include('../blocks/sitemap.html')
			<!-- END: SITEMAP -->

			<div class="contact align-inline">
				<p><strong>If you have further questionsor reports, please contact us:</strong><br/>
				Tel No. : 999-99-99<br/>
				Address : ABS-CBN Mother Ignacia<br/>
				Street, Sgt. E.A. Esguerra Avenue<br/>
				Corner, Quezon City 1100<br/>
				Metro Manila
				</p>		
			</div>

		</div>

	</div>

	<div class="copyright">

		<ul class="align-right">
			<li><a href="#">About</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Advertise With Us</a></li>
		</ul>

		<p class="align-left">&copy; 2014. ABS-CBN Corporation. All Rights Reserved.</p>
		
	</div>

</footer>