<header class="header fixed" role="banner">

	<div class="top-row">
		
		<div>

			<!-- START: LOGO (HEADER) -->
			@@include('../blocks/logos--header.html')
			<!-- END: LOGO (HEADER) -->

			<!-- START: UNIVERSAL MENU -->
			@@include('../blocks/universal-menu.html')
			<!-- END: UNIVERSAL MENU -->
			
		</div>

	</div>

	<div class="middle-row">
		
		<a class="icons icon-menu mobile-icons" href="#"></a>

		<h1>Television</h1>
		<img src="assets/img/header-titlebar-bg.png" alt="Title Bar Background">

		<a class="icons icon-search mobile-icons" href="#"></a>

	</div>
	
	<div class="bottom-row">
		
		<div class="align-left">

			<!-- START: MAIN NAVIGATION -->
			@@include('../blocks/main-menu.html')
			<!-- END: MAIN NAVIGATION -->

		</div>
		
		<div class="align-right">

			<!-- START: SEARCH -->
			@@include('../blocks/search.html')
			<!-- END: SEARCH -->

			<!-- START: SOCIAL LINKS -->
			@@include('../blocks/social-links.html')
			<!-- END: SOCIAL LINKS -->

		</div>

	</div>

</header>