<!-- START: ADS (WIDE) -->
@@include('../partials/blocks/ads--wide.html')
<!-- END: ADS (WIDE) -->

<!-- START: FAN CONNECT -->
@@include('../partials/blocks/fans.html')
<!-- END: FAN CONNECT -->

<!-- START: QUIZ OF THE DAY -->
@@include('../partials/blocks/quizzes.html', {
	"page-link": "quiz.html",
	"link": "quiz-inner.html"
})
<!-- END: QUIZ OF THE DAY -->

<!-- START: POLL -->
@@include('../partials/blocks/polls.html')
<!-- END: POLL -->

<!-- START: PROMO -->
@@include('../partials/blocks/promos.html', {
	"page-link": "promo.html",
	"link": "promo-inner.html"
})
<!-- END: PROMO -->

<!-- START: EVENTS -->
@@include('../partials/blocks/events.html', {
	"page-link": "event.html",
	"link": "event-inner.html"
})
<!-- END: EVENTS -->

<!-- START: MEME GENERATOR -->
@@include('../partials/blocks/generator--meme.html')
<!-- END: MEME GENERATOR -->

<!-- START: MEMES -->
@@include('../partials/blocks/memes.html', {
	"page-link": "meme.html"
})
<!-- END: MEMES -->