<!-- START: ADS (WIDE) -->
@@include('../partials/blocks/ads--wide.html')
<!-- END: ADS (WIDE) -->

<!-- START: FAN CONNECT -->
@@include('../partials/blocks/fans--quiz.html')
<!-- END: FAN CONNECT -->

<!-- START: PROMO ARTICLE -->
@@include('../partials/blocks/article--promo.html')
<!-- END: PROMO ARTICLE -->

<!-- START: OTHER (RELATED) -->
@@include('../partials/blocks/others.html', {
	"page-link": "event.html",
	"link": "event-inner.html"
})
<!-- END: OTHER (RELATED) -->

<!-- START: EXCLUSIVE -->
@@include('../partials/blocks/exclusives.html', {
	"page-link": "event.html",
	"link": "event-inner.html"
})
<!-- END: EXCLUSIVE -->

