/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$icon-email-share-hover-x: 385px;
$icon-email-share-hover-y: 1110px;
$icon-email-share-hover-offset-x: -385px;
$icon-email-share-hover-offset-y: -1110px;
$icon-email-share-hover-width: 75px;
$icon-email-share-hover-height: 31px;
$icon-email-share-hover-total-width: 1937px;
$icon-email-share-hover-total-height: 1306px;
$icon-email-share-hover-image: '../img/spritesheet.png';
$icon-email-share-hover: 385px 1110px -385px -1110px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-email-share-x: 231px;
$icon-email-share-y: 1176px;
$icon-email-share-offset-x: -231px;
$icon-email-share-offset-y: -1176px;
$icon-email-share-width: 75px;
$icon-email-share-height: 31px;
$icon-email-share-total-width: 1937px;
$icon-email-share-total-height: 1306px;
$icon-email-share-image: '../img/spritesheet.png';
$icon-email-share: 231px 1176px -231px -1176px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-fb-big-x: 1284px;
$icon-fb-big-y: 676px;
$icon-fb-big-offset-x: -1284px;
$icon-fb-big-offset-y: -676px;
$icon-fb-big-width: 50px;
$icon-fb-big-height: 50px;
$icon-fb-big-total-width: 1937px;
$icon-fb-big-total-height: 1306px;
$icon-fb-big-image: '../img/spritesheet.png';
$icon-fb-big: 1284px 676px -1284px -676px 50px 50px 1937px 1306px '../img/spritesheet.png';
$icon-fb-share-hover-x: 847px;
$icon-fb-share-hover-y: 912px;
$icon-fb-share-hover-offset-x: -847px;
$icon-fb-share-hover-offset-y: -912px;
$icon-fb-share-hover-width: 75px;
$icon-fb-share-hover-height: 31px;
$icon-fb-share-hover-total-width: 1937px;
$icon-fb-share-hover-total-height: 1306px;
$icon-fb-share-hover-image: '../img/spritesheet.png';
$icon-fb-share-hover: 847px 912px -847px -912px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-fb-share-x: 770px;
$icon-fb-share-y: 945px;
$icon-fb-share-offset-x: -770px;
$icon-fb-share-offset-y: -945px;
$icon-fb-share-width: 75px;
$icon-fb-share-height: 31px;
$icon-fb-share-total-width: 1937px;
$icon-fb-share-total-height: 1306px;
$icon-fb-share-image: '../img/spritesheet.png';
$icon-fb-share: 770px 945px -770px -945px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-fb-x: 1930px;
$icon-fb-y: 0px;
$icon-fb-offset-x: -1930px;
$icon-fb-offset-y: 0px;
$icon-fb-width: 7px;
$icon-fb-height: 15px;
$icon-fb-total-width: 1937px;
$icon-fb-total-height: 1306px;
$icon-fb-image: '../img/spritesheet.png';
$icon-fb: 1930px 0px -1930px 0px 7px 15px 1937px 1306px '../img/spritesheet.png';
$icon-fit-hover-x: 1655px;
$icon-fit-hover-y: 321px;
$icon-fit-hover-offset-x: -1655px;
$icon-fit-hover-offset-y: -321px;
$icon-fit-hover-width: 41px;
$icon-fit-hover-height: 40px;
$icon-fit-hover-total-width: 1937px;
$icon-fit-hover-total-height: 1306px;
$icon-fit-hover-image: '../img/spritesheet.png';
$icon-fit-hover: 1655px 321px -1655px -321px 41px 40px 1937px 1306px '../img/spritesheet.png';
$icon-fit-x: 1612px;
$icon-fit-y: 363px;
$icon-fit-offset-x: -1612px;
$icon-fit-offset-y: -363px;
$icon-fit-width: 41px;
$icon-fit-height: 40px;
$icon-fit-total-width: 1937px;
$icon-fit-total-height: 1306px;
$icon-fit-image: '../img/spritesheet.png';
$icon-fit: 1612px 363px -1612px -363px 41px 40px 1937px 1306px '../img/spritesheet.png';
$icon-gplus-share-hover-x: 539px;
$icon-gplus-share-hover-y: 1044px;
$icon-gplus-share-hover-offset-x: -539px;
$icon-gplus-share-hover-offset-y: -1044px;
$icon-gplus-share-hover-width: 75px;
$icon-gplus-share-hover-height: 31px;
$icon-gplus-share-hover-total-width: 1937px;
$icon-gplus-share-hover-total-height: 1306px;
$icon-gplus-share-hover-image: '../img/spritesheet.png';
$icon-gplus-share-hover: 539px 1044px -539px -1044px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-gplus-share-x: 462px;
$icon-gplus-share-y: 1077px;
$icon-gplus-share-offset-x: -462px;
$icon-gplus-share-offset-y: -1077px;
$icon-gplus-share-width: 75px;
$icon-gplus-share-height: 31px;
$icon-gplus-share-total-width: 1937px;
$icon-gplus-share-total-height: 1306px;
$icon-gplus-share-image: '../img/spritesheet.png';
$icon-gplus-share: 462px 1077px -462px -1077px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-ig-big-x: 1232px;
$icon-ig-big-y: 728px;
$icon-ig-big-offset-x: -1232px;
$icon-ig-big-offset-y: -728px;
$icon-ig-big-width: 50px;
$icon-ig-big-height: 50px;
$icon-ig-big-total-width: 1937px;
$icon-ig-big-total-height: 1306px;
$icon-ig-big-image: '../img/spritesheet.png';
$icon-ig-big: 1232px 728px -1232px -728px 50px 50px 1937px 1306px '../img/spritesheet.png';
$icon-in-share-hover-x: 154px;
$icon-in-share-hover-y: 1209px;
$icon-in-share-hover-offset-x: -154px;
$icon-in-share-hover-offset-y: -1209px;
$icon-in-share-hover-width: 75px;
$icon-in-share-hover-height: 31px;
$icon-in-share-hover-total-width: 1937px;
$icon-in-share-hover-total-height: 1306px;
$icon-in-share-hover-image: '../img/spritesheet.png';
$icon-in-share-hover: 154px 1209px -154px -1209px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-in-share-x: 77px;
$icon-in-share-y: 1242px;
$icon-in-share-offset-x: -77px;
$icon-in-share-offset-y: -1242px;
$icon-in-share-width: 75px;
$icon-in-share-height: 31px;
$icon-in-share-total-width: 1937px;
$icon-in-share-total-height: 1306px;
$icon-in-share-image: '../img/spritesheet.png';
$icon-in-share: 77px 1242px -77px -1242px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-menu-x: 1912px;
$icon-menu-y: 17px;
$icon-menu-offset-x: -1912px;
$icon-menu-offset-y: -17px;
$icon-menu-width: 16px;
$icon-menu-height: 15px;
$icon-menu-total-width: 1937px;
$icon-menu-total-height: 1306px;
$icon-menu-image: '../img/spritesheet.png';
$icon-menu: 1912px 17px -1912px -17px 16px 15px 1937px 1306px '../img/spritesheet.png';
$icon-next-hover-x: 1721px;
$icon-next-hover-y: 233px;
$icon-next-hover-offset-x: -1721px;
$icon-next-hover-offset-y: -233px;
$icon-next-hover-width: 21px;
$icon-next-hover-height: 42px;
$icon-next-hover-total-width: 1937px;
$icon-next-hover-total-height: 1306px;
$icon-next-hover-image: '../img/spritesheet.png';
$icon-next-hover: 1721px 233px -1721px -233px 21px 42px 1937px 1306px '../img/spritesheet.png';
$icon-next-x: 1744px;
$icon-next-y: 189px;
$icon-next-offset-x: -1744px;
$icon-next-offset-y: -189px;
$icon-next-width: 21px;
$icon-next-height: 42px;
$icon-next-total-width: 1937px;
$icon-next-total-height: 1306px;
$icon-next-image: '../img/spritesheet.png';
$icon-next: 1744px 189px -1744px -189px 21px 42px 1937px 1306px '../img/spritesheet.png';
$icon-option-active-x: 1790px;
$icon-option-active-y: 124px;
$icon-option-active-offset-x: -1790px;
$icon-option-active-offset-y: -124px;
$icon-option-active-width: 19px;
$icon-option-active-height: 19px;
$icon-option-active-total-width: 1937px;
$icon-option-active-total-height: 1306px;
$icon-option-active-image: '../img/spritesheet.png';
$icon-option-active: 1790px 124px -1790px -124px 19px 19px 1937px 1306px '../img/spritesheet.png';
$icon-option-x: 1811px;
$icon-option-y: 103px;
$icon-option-offset-x: -1811px;
$icon-option-offset-y: -103px;
$icon-option-width: 19px;
$icon-option-height: 19px;
$icon-option-total-width: 1937px;
$icon-option-total-height: 1306px;
$icon-option-image: '../img/spritesheet.png';
$icon-option: 1811px 103px -1811px -103px 19px 19px 1937px 1306px '../img/spritesheet.png';
$icon-pin-share-hover-x: 308px;
$icon-pin-share-hover-y: 1143px;
$icon-pin-share-hover-offset-x: -308px;
$icon-pin-share-hover-offset-y: -1143px;
$icon-pin-share-hover-width: 75px;
$icon-pin-share-hover-height: 31px;
$icon-pin-share-hover-total-width: 1937px;
$icon-pin-share-hover-total-height: 1306px;
$icon-pin-share-hover-image: '../img/spritesheet.png';
$icon-pin-share-hover: 308px 1143px -308px -1143px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-pin-share-x: 0px;
$icon-pin-share-y: 1275px;
$icon-pin-share-offset-x: 0px;
$icon-pin-share-offset-y: -1275px;
$icon-pin-share-width: 75px;
$icon-pin-share-height: 31px;
$icon-pin-share-total-width: 1937px;
$icon-pin-share-total-height: 1306px;
$icon-pin-share-image: '../img/spritesheet.png';
$icon-pin-share: 0px 1275px 0px -1275px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-prev-hover-x: 1698px;
$icon-prev-hover-y: 277px;
$icon-prev-hover-offset-x: -1698px;
$icon-prev-hover-offset-y: -277px;
$icon-prev-hover-width: 21px;
$icon-prev-hover-height: 42px;
$icon-prev-hover-total-width: 1937px;
$icon-prev-hover-total-height: 1306px;
$icon-prev-hover-image: '../img/spritesheet.png';
$icon-prev-hover: 1698px 277px -1698px -277px 21px 42px 1937px 1306px '../img/spritesheet.png';
$icon-prev-x: 1767px;
$icon-prev-y: 145px;
$icon-prev-offset-x: -1767px;
$icon-prev-offset-y: -145px;
$icon-prev-width: 21px;
$icon-prev-height: 42px;
$icon-prev-total-width: 1937px;
$icon-prev-total-height: 1306px;
$icon-prev-image: '../img/spritesheet.png';
$icon-prev: 1767px 145px -1767px -145px 21px 42px 1937px 1306px '../img/spritesheet.png';
$icon-print-share-hover-x: 1155px;
$icon-print-share-hover-y: 780px;
$icon-print-share-hover-offset-x: -1155px;
$icon-print-share-hover-offset-y: -780px;
$icon-print-share-hover-width: 75px;
$icon-print-share-hover-height: 31px;
$icon-print-share-hover-total-width: 1937px;
$icon-print-share-hover-total-height: 1306px;
$icon-print-share-hover-image: '../img/spritesheet.png';
$icon-print-share-hover: 1155px 780px -1155px -780px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-print-share-x: 1078px;
$icon-print-share-y: 813px;
$icon-print-share-offset-x: -1078px;
$icon-print-share-offset-y: -813px;
$icon-print-share-width: 75px;
$icon-print-share-height: 31px;
$icon-print-share-total-width: 1937px;
$icon-print-share-total-height: 1306px;
$icon-print-share-image: '../img/spritesheet.png';
$icon-print-share: 1078px 813px -1078px -813px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-rss-share-hover-x: 1001px;
$icon-rss-share-hover-y: 846px;
$icon-rss-share-hover-offset-x: -1001px;
$icon-rss-share-hover-offset-y: -846px;
$icon-rss-share-hover-width: 75px;
$icon-rss-share-hover-height: 31px;
$icon-rss-share-hover-total-width: 1937px;
$icon-rss-share-hover-total-height: 1306px;
$icon-rss-share-hover-image: '../img/spritesheet.png';
$icon-rss-share-hover: 1001px 846px -1001px -846px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-rss-share-x: 924px;
$icon-rss-share-y: 879px;
$icon-rss-share-offset-x: -924px;
$icon-rss-share-offset-y: -879px;
$icon-rss-share-width: 75px;
$icon-rss-share-height: 31px;
$icon-rss-share-total-width: 1937px;
$icon-rss-share-total-height: 1306px;
$icon-rss-share-image: '../img/spritesheet.png';
$icon-rss-share: 924px 879px -924px -879px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-search-x: 1894px;
$icon-search-y: 34px;
$icon-search-offset-x: -1894px;
$icon-search-offset-y: -34px;
$icon-search-width: 16px;
$icon-search-height: 16px;
$icon-search-total-width: 1937px;
$icon-search-total-height: 1306px;
$icon-search-image: '../img/spritesheet.png';
$icon-search: 1894px 34px -1894px -34px 16px 16px 1937px 1306px '../img/spritesheet.png';
$icon-twt-big-x: 1388px;
$icon-twt-big-y: 573px;
$icon-twt-big-offset-x: -1388px;
$icon-twt-big-offset-y: -573px;
$icon-twt-big-width: 50px;
$icon-twt-big-height: 49px;
$icon-twt-big-total-width: 1937px;
$icon-twt-big-total-height: 1306px;
$icon-twt-big-image: '../img/spritesheet.png';
$icon-twt-big: 1388px 573px -1388px -573px 50px 49px 1937px 1306px '../img/spritesheet.png';
$icon-twt-share-hover-x: 693px;
$icon-twt-share-hover-y: 978px;
$icon-twt-share-hover-offset-x: -693px;
$icon-twt-share-hover-offset-y: -978px;
$icon-twt-share-hover-width: 75px;
$icon-twt-share-hover-height: 31px;
$icon-twt-share-hover-total-width: 1937px;
$icon-twt-share-hover-total-height: 1306px;
$icon-twt-share-hover-image: '../img/spritesheet.png';
$icon-twt-share-hover: 693px 978px -693px -978px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-twt-share-x: 616px;
$icon-twt-share-y: 1011px;
$icon-twt-share-offset-x: -616px;
$icon-twt-share-offset-y: -1011px;
$icon-twt-share-width: 75px;
$icon-twt-share-height: 31px;
$icon-twt-share-total-width: 1937px;
$icon-twt-share-total-height: 1306px;
$icon-twt-share-image: '../img/spritesheet.png';
$icon-twt-share: 616px 1011px -616px -1011px 75px 31px 1937px 1306px '../img/spritesheet.png';
$icon-twt-x: 1875px;
$icon-twt-y: 52px;
$icon-twt-offset-x: -1875px;
$icon-twt-offset-y: -52px;
$icon-twt-width: 17px;
$icon-twt-height: 15px;
$icon-twt-total-width: 1937px;
$icon-twt-total-height: 1306px;
$icon-twt-image: '../img/spritesheet.png';
$icon-twt: 1875px 52px -1875px -52px 17px 15px 1937px 1306px '../img/spritesheet.png';
$icon-video-x: 1832px;
$icon-video-y: 86px;
$icon-video-offset-x: -1832px;
$icon-video-offset-y: -86px;
$icon-video-width: 20px;
$icon-video-height: 15px;
$icon-video-total-width: 1937px;
$icon-video-total-height: 1306px;
$icon-video-image: '../img/spritesheet.png';
$icon-video: 1832px 86px -1832px -86px 20px 15px 1937px 1306px '../img/spritesheet.png';
$icon-yt-big-x: 1336px;
$icon-yt-big-y: 624px;
$icon-yt-big-offset-x: -1336px;
$icon-yt-big-offset-y: -624px;
$icon-yt-big-width: 50px;
$icon-yt-big-height: 50px;
$icon-yt-big-total-width: 1937px;
$icon-yt-big-total-height: 1306px;
$icon-yt-big-image: '../img/spritesheet.png';
$icon-yt-big: 1336px 624px -1336px -624px 50px 50px 1937px 1306px '../img/spritesheet.png';
$icon-yt-x: 1854px;
$icon-yt-y: 69px;
$icon-yt-offset-x: -1854px;
$icon-yt-offset-y: -69px;
$icon-yt-width: 19px;
$icon-yt-height: 15px;
$icon-yt-total-width: 1937px;
$icon-yt-total-height: 1306px;
$icon-yt-image: '../img/spritesheet.png';
$icon-yt: 1854px 69px -1854px -69px 19px 15px 1937px 1306px '../img/spritesheet.png';
$icon-zoomin-hover-x: 1483px;
$icon-zoomin-hover-y: 489px;
$icon-zoomin-hover-offset-x: -1483px;
$icon-zoomin-hover-offset-y: -489px;
$icon-zoomin-hover-width: 41px;
$icon-zoomin-hover-height: 40px;
$icon-zoomin-hover-total-width: 1937px;
$icon-zoomin-hover-total-height: 1306px;
$icon-zoomin-hover-image: '../img/spritesheet.png';
$icon-zoomin-hover: 1483px 489px -1483px -489px 41px 40px 1937px 1306px '../img/spritesheet.png';
$icon-zoomin-x: 1569px;
$icon-zoomin-y: 405px;
$icon-zoomin-offset-x: -1569px;
$icon-zoomin-offset-y: -405px;
$icon-zoomin-width: 41px;
$icon-zoomin-height: 40px;
$icon-zoomin-total-width: 1937px;
$icon-zoomin-total-height: 1306px;
$icon-zoomin-image: '../img/spritesheet.png';
$icon-zoomin: 1569px 405px -1569px -405px 41px 40px 1937px 1306px '../img/spritesheet.png';
$icon-zoomout-hover-x: 1440px;
$icon-zoomout-hover-y: 531px;
$icon-zoomout-hover-offset-x: -1440px;
$icon-zoomout-hover-offset-y: -531px;
$icon-zoomout-hover-width: 41px;
$icon-zoomout-hover-height: 40px;
$icon-zoomout-hover-total-width: 1937px;
$icon-zoomout-hover-total-height: 1306px;
$icon-zoomout-hover-image: '../img/spritesheet.png';
$icon-zoomout-hover: 1440px 531px -1440px -531px 41px 40px 1937px 1306px '../img/spritesheet.png';
$icon-zoomout-x: 1526px;
$icon-zoomout-y: 447px;
$icon-zoomout-offset-x: -1526px;
$icon-zoomout-offset-y: -447px;
$icon-zoomout-width: 41px;
$icon-zoomout-height: 40px;
$icon-zoomout-total-width: 1937px;
$icon-zoomout-total-height: 1306px;
$icon-zoomout-image: '../img/spritesheet.png';
$icon-zoomout: 1526px 447px -1526px -447px 41px 40px 1937px 1306px '../img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
