<article class="articles gradient-green-violet article-event clear">
	
	<div class="container-1024 h-centered">

		<div>
			<div class="aside">
				<h2>Upcoming Event</h2>
				<h1>DOS The Daniel Padilla Concert</h1>
				<p>The Big Dome, Araneta</p>
				<p>April 30, 2014 6:00PM</p>
				
				<div class="position-bottom">
					<!-- START: SHARE -->
			        @@include('share.html')
			        <!-- END: SHARE -->
		        </div>
			</div>
			<img class="hero-image" src="http://placehold.it/681x454/FGD/FFF" alt="Quiz Image">
		</div>
		
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.<br/><br/>
			Soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
			
			<h2>Here's How</h2>
			<ol>
				<li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></li>
				<li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></li>
				<li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></li>
			</ol>

			<a class="buttons red" href="#">Join Now</a>

			<p class="period">Promo Period : March 30 - June 30. 2014</p>

			<a class="link-how" href="#">See Full Mechanics</a>
		</div>

	</div>

</article>