<div class="content-lists quiz-list gradient-green-violet clear">
	
	<div class="container-1024 h-centered">
		
		<div class="align-left title-pane quiz-list-title">
			<h1 class="block-title">Quizzes</h1>	
			<select class="option-set" data-filter-group="category">
				<option value="all" class="selected">All Shows</option>
				<option value="asap">ASAP</option>
				<option value="showtime">Showtime</option>
				<option value="bet-on-your-baby">Bet On Your Baby</option>
				<option value="dyesebel">Dyesebel</option>
				<option value="be-careful-with-my-heart">Be Careful With My Heart</option>
			</select>
		</div>

		<ul></ul>

		<div class="load-more">
			<a href="#">Load More</a>
		</div>

	</div>

</div>