<div class="events gradient-green-violet clear">
	
	<div class="container-1024 h-centered">

		<div class="align-none title-pane">
			<h1 class="block-title">Upcoming Events</h1>
			<a class="container" href="@@page-link">
				<span class="block-link">View all &#187;</span>
			</a>
		</div>

		<div id="slider" class="swipe carousel">
			
			<ul>

				<li class="featured">
					<a href="@@link">
						<img class="image" src="http://placehold.it/681x454/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

				<li>
					<a href="@@link">
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
					</a>
					<a class="details" href="@@link">
						<div class="overlay"></div>
						<div class="container">
							<h1 class="title">DOS The Daniel Padilla Concert</h1>
							<p class="byline">The Big Dome, Araneta</p>
							<p class="byline">April 30, 2014 6:00PM</p>
						</div>
					</a>
				</li>

			</ul>

		</div>

		<div class="carousel-pager">
			<span>1/20</span>
		</div>

	</div>

	<div class="carousel-controls controls-event">
		<a class="buttons prev" href="#"><span class="icons icon-prev"></span></a>
		<a class="buttons next" href="#"><span class="icons icon-next"></span></a>
	</div>

</div>