<div class="exclusives clear">
	
	<div class="container-1024 h-centered">

		<div class="title-pane">
			<h1 class="block-title">What Won't You See on TV</h1>
			<a class="container" href="@@page-link">
				<span class="block-link">View all &#187;</span>
			</a>
		</div>
		
		<ul>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/253x169/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<span class="icons icon-video">Video</span>
					<h4 class="title">Lorem ipsum dolor sit amet consectetuer adipiscing...</h4>
					<span class="byline">May 16, 2013 6:32PM</span>
				</a>
				<a class="go" href="#">
					<div class="overlay"></div>
					<div class="container">
						<img class="show" src="assets/img/showtime-logo.png" alt="Show Logo">
						<img class="icon-video-large" src="assets/img/icon-video-large.png" alt="Play Video">
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/253x169/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<span class="icons icon-video">Video</span>
					<h4 class="title">Lorem ipsum dolor sit amet consectetuer adipiscing...</h4>
					<span class="byline">May 16, 2013 6:32PM</span>
				</a>
				<a class="go" href="#">
					<div class="overlay"></div>
					<div class="container">
						<img class="show" src="assets/img/showtime-logo.png" alt="Show Logo">
						<img class="icon-video-large" src="assets/img/icon-video-large.png" alt="Play Video">
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/253x169/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<span class="icons icon-video">Video</span>
					<h4 class="title">Lorem ipsum dolor sit amet consectetuer adipiscing...</h4>
					<span class="byline">May 16, 2013 6:32PM</span>
				</a>
				<a class="go" href="#">
					<div class="overlay"></div>
					<div class="container">
						<img class="show" src="assets/img/showtime-logo.png" alt="Show Logo">
						<img class="icon-video-large" src="assets/img/icon-video-large.png" alt="Play Video">
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/253x169/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<span class="icons icon-video">Video</span>
					<h4 class="title">Lorem ipsum dolor sit amet consectetuer adipiscing...</h4>
					<span class="byline">May 16, 2013 6:32PM</span>
				</a>
				<a class="go" href="#">
					<div class="overlay"></div>
					<div class="container">
						<img class="show" src="assets/img/showtime-logo.png" alt="Show Logo">
						<img class="icon-video-large" src="assets/img/icon-video-large.png" alt="Play Video">
					</div>
				</a>
			</li>

		</ul>

	</div>

</div>