<div class="lightbox">

	<div class="generated">

		<div class="top">

			<!-- START: SHARE -->
			@@include('share.html', {
				"link": "http://9gag.com/"
			})
			<!-- END: SHARE -->

			<p class="details">
				<span class="timestamp">Generated Last:</span>
				<!-- DELETE BUTTON FOR MY MEME PAGE ONLY -->
				<a id="download" href="#" download="abscbn--meme-generated.png">Download</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="delete" href="#">Delete</a>
			</p>

			<a id="close" href="#">x</a>

		</div>

		<div class="media"></div>
		
	</div>

</div>

<div class="lightbox-overlay"></div>