<div class="lists quiz gradient-green-violet clear">
	
	<div class="current container-1024 h-centered">

		<h2 class="block-title">Sinong Showtime Host ang perfect match mo?</h2>
		<ul>
			<li class="active">
				<input type="hidden" id="question0" name="question0" value="">
				<h1 class="question">Alin sa mga tugtog na ito ang makakapagpasayaw sa’yo?</h1>
				<ul class="answers">
					<li>
						<a href="#" data-answer="0">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="1">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="2">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte answer here lorem ipsum dolor sit amet sit amet consecte lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="3">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<input type="hidden" id="question1" name="question1" value="">
				<h1 class="question">Alin sa mga tugtog na ito ang makakapagpasayaw sa’yo?</h1>
				<ul class="answers media">
					<li class="odd">
						<a href="#" data-answer="0">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="even">
						<a href="#" data-answer="1">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="odd">
						<a href="#" data-answer="2">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="even">
						<a href="#" data-answer="3">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<input type="hidden" id="question2" name="question2" value="">
				<h1 class="question">Alin sa mga tugtog na ito ang makakapagpasayaw sa’yo?</h1>
				<ul class="answers">
					<li>
						<a href="#" data-answer="0">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="1">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="2">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte answer here lorem ipsum dolor sit amet sit amet consecte lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="3">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<input type="hidden" id="question3" name="question3" value="">
				<h1 class="question">Alin sa mga tugtog na ito ang makakapagpasayaw sa’yo?</h1>
				<ul class="answers media">
					<li class="odd">
						<a href="#" data-answer="0">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="even">
						<a href="#" data-answer="1">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="odd">
						<a href="#" data-answer="2">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="even">
						<a href="#" data-answer="3">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<input type="hidden" id="question4" name="question4" value="">
				<h1 class="question">Alin sa mga tugtog na ito ang makakapagpasayaw sa’yo?</h1>
				<ul class="answers">
					<li>
						<a href="#" data-answer="0">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="1">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="2">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte answer here lorem ipsum dolor sit amet sit amet consecte lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
					<li>
						<a href="#" data-answer="3">
							<span class="icons icon-option"></span>
							<span>Answer here lorem ipsum dolor sit amet sit amet consecte.</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<input type="hidden" id="question5" name="question5" value="">
				<h1 class="question">Alin sa mga tugtog na ito ang makakapagpasayaw sa’yo?</h1>
				<ul class="answers media">
					<li class="odd">
						<a href="#" data-answer="0">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="even">
						<a href="#" data-answer="1">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="odd">
						<a href="#" data-answer="2">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
					<li class="even">
						<a href="#" data-answer="3">
							<div class="image align-inline">
								<div class="overlay"></div>
								<img src="http://placehold.it/338x226/FGD/FFF" alt="Quiz Image">
							</div>
							<p class="description align-inline">
								Answer here lorem ipsum dolor sit amet sit amet consecte.
							</p>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="progress">
			<span>Progress: 1 of 20</span>
		</div>

	</div>

	<div class="complete container-1024 h-centered">
		
		<div class="align-none title-pane">
			<h1 class="block-title">Quiz Complete!</h1>
			<a class="container" href="@@page-link">
				<span class="block-link">View all Quizzes &#187;</span>
			</a>
		</div>

		<div>
			<div class="result">
				<h2>Ang Showtime Host perfect match mo ay si :</h2>
				<h1>Billy Crawford</h1>
				
				<div class="position-bottom">
					<div class="links">
						<a class="retake-quiz" href="#">Retake Quiz &#187;</a>
						<a class="next-quiz" href="#">Next Quiz &#187;</a>
					</div>

					<!-- START: SHARE -->
		        	@@include('share.html', {
						"link": "http://abs-cbn.com/"
					})
			        <!-- END: SHARE -->
		        </div>
			</div>
			<img class="hero-image" src="http://placehold.it/681x454/FGD/FFF" alt="Quiz Image">
		</div>

		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.<br/><br/>
		Soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>

	</div>

</div>