<nav class="main-menu" role="navigation">

	<ul>
		<li class="active"><a href="index.html">Home</a></li>
		<li id="link-shows">
			<a href="#shows">Shows<span class="drop-shows"></span></a>
			<ul>
				<li><a href="#asap19">ASAP 19</a></li>
				<li><a href="#banananite">Banana Nite</a></li>
				<li><a href="#bandila">Bandila</a></li>
				<li><a href="#thevoicekids">The Voice Kids</a></li>
				<li><a href="#wansapanasummer">Wansapansummer</a></li>
				<li><a href="#dyesebel">Dyesebel</a></li>
				<li><a href="#gandanggabivice">Gandang Gabi Vice</a></li>
				<li><a href="#goingbulilit">Going Bulilit</a></li>
				<li><a href="#ikawlamang">Ikaw Lamang</a></li>
			</ul>
		</li>
		<li><a href="#schedules">Schedules</a></li>
		<li><a href="#updates">Updates</a></li>
		<li><a href="#livestream">Livestream</a></li>
		<li id="link-connect">
			<a href="#connect">Connect</a>
			<ul>
				<li><a href="quiz.html">Quizzes</a></li>
				<li><a href="poll.html">Polls</a></li>
				<li><a href="promo.html">Promos</a></li>
				<li><a href="event.html">Events</a></li>
				<li><a href="meme.html">Memes</a></li>
			</ul>
		</li>
	</ul>
	
</nav>