<div class="memes clear">
	
	<div class="container-1024 h-centered">

		<div class="align-right title-pane">
			<a class="container" href="@@page-link">
				<h1 class="block-title">View All Memes &#187;</h1>
			</a>
		</div>
		
		<ul>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

			<li>
				<div>
					<a href="#" data-src="http://placehold.it/580x580/EEF00AA/FFF" data-timestamp="July 30, 2014 6:32PM">
						<div class="overlay" style="opacity: 0;"></div>
						<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Meme Image">
					</a>
				</div>
			</li>

		</ul>

	</div>

</div>