<div class="others clear">
	
	<div class="container-1024 h-centered">

		<div class="align-left title-pane">
			<a class="container" href="@@page-link">
				<h1 class="block-title">Other Events</h1>
				<span class="block-link">View all &#187;</span>
			</a>
		</div>
		
		<ul>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Event Title Lorem Ipsum</h4>
						<span class="byline">ABS-CBN Center Road</span>
						<span class="byline">May 16, 2013 6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Event Title Lorem Ipsum</h4>
						<span class="byline">ABS-CBN Center Road</span>
						<span class="byline">May 16, 2013 6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Event Title Lorem Ipsum</h4>
						<span class="byline">ABS-CBN Center Road</span>
						<span class="byline">May 16, 2013 6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Event Title Lorem Ipsum</h4>
						<span class="byline">ABS-CBN Center Road</span>
						<span class="byline">May 16, 2013 6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Event Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Event Title Lorem Ipsum</h4>
						<span class="byline">ABS-CBN Center Road</span>
						<span class="byline">May 16, 2013 6:32PM</span>
					</div>
				</a>
			</li>

		</ul>

	</div>

</div>