<div class="polls clear">

	<div class="left-pane">
		
		<div class="container">
			<h1 class="block-title">Poll</h1>
			<span>Question here lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna?</span>
		</div>

	</div>

	<div class="right-pane">

		<img class="bg" src="assets/img/poll-bg.png" alt="Poll Background">
		
		<div class="container outer">
			<p class="total">Total Votes: 1,000</p>
			<div class="container inner">
				<div class="overlay"></div>
				<ul>
					<li>
						<p class="question">Answer here lorem ipsum dolor sit amet sit amet consecte adipiscing elit, sed diam nonummy nibh euismod.</p>
						<p class="percentage">80%</p>
						<a class="buttons red small" href="#">Vote</a>
					</li>
					<li>
						<p class="question">Answer here lorem ipsum dolor sit amet sit amet consecte adipiscing elit, sed diam nonummy nibh euismod.</p>
						<p class="percentage">20%</p>
						<a class="buttons red small" href="#">Vote</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

</div>