<div class="promos clear">
	
	<div class="container-1024 h-centered">

		<div class="align-right title-pane">
			<a class="container" href="@@page-link">
				<h1 class="block-title">Promos</h1>
				<span class="block-link">View all &#187;</span>
			</a>
		</div>
		
		<ul>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Promo Title Lorem Ipsum</h4>
						<span class="excerpt">Lorem ipsum dolor sit amet consectetuer adipiscing...</span>
						<span class="byline">May 16, 2013  6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Promo Title Lorem Ipsum</h4>
						<span class="excerpt">Lorem ipsum dolor sit amet consectetuer adipiscing...</span>
						<span class="byline">May 16, 2013  6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Promo Title Lorem Ipsum</h4>
						<span class="excerpt">Lorem ipsum dolor sit amet consectetuer adipiscing...</span>
						<span class="byline">May 16, 2013  6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Promo Title Lorem Ipsum</h4>
						<span class="excerpt">Lorem ipsum dolor sit amet consectetuer adipiscing...</span>
						<span class="byline">May 16, 2013  6:32PM</span>
					</div>
				</a>
			</li>

			<li>
				<a href="@@link">
					<img class="image" src="http://placehold.it/338x226/FGD/FFF" alt="Promo Image">
				</a>
				<a class="details" href="@@link">
					<div class="overlay"></div>
					<div class="container">
						<h4 class="title">Promo Title Lorem Ipsum</h4>
						<span class="excerpt">Lorem ipsum dolor sit amet consectetuer adipiscing...</span>
						<span class="byline">May 16, 2013  6:32PM</span>
					</div>
				</a>
			</li>

		</ul>

	</div>

</div>