<div class="quizzes clear">

	<div class="left-pane">

		<a class="container" href="@@page-link">
			<h1 class="block-title">Quiz of the Day</h1>
			<span class="block-link">View all &#187;</span>
		</a>

	</div>

	<div class="right-pane">

		<div class="align-left">
			<a class="radial-image" href="@@link">
				<div class="hero-image">
					<img src="assets/img/sample-quiz-hero-image.png" alt="Quiz: Hero Image">
				</div>
			</a>
		</div>

		<div class="align-left">
			<p class="sponsored">
				Powered by: <img src="assets/img/sponsor-logo-safeguard.png" alt="Sponsor Logo">
			</p>
			<h2 class="title">Question here lorem ipsum dolor sit amet sit amet consecte?</h2>
			<p class="byline">May 16, 2014  6:32 PM</p>
			<a class="buttons red large" href="@@link">Begin Quiz</a>
		</div>

	</div>

</div>