<div class="share">

	<div class="sharing-holder">
		<div>
			<a href="@@link" class="icons icon-fb-share">facebook</a>
			<a href="@@link" class="icons icon-twt-share">twitter</a>
			<a href="@@link" class="icons icon-gplus-share">google</a>
			<a href="@@link" class="icons icon-pin-share">pin</a>
			<a href="@@link" class="icons icon-in-share">linkedin</a>
			<a href="@@link" class="icons icon-rss-share">rss</a>
			<a href="@@link" class="icons icon-print-share">print</a>
			<a href="@@link" class="icons icon-email-share">email</a>
		</div>
		<a href="#" class="plus-close-button"><img src="assets/img/plus-close.png" alt="plus close"/></a>
	</div>

</div>