<div class="share sticky clear">
	
	<div class="container-1024 h-centered">
		
		<p>
			<span><strong>Share:</strong> ABS-CBN.com - Welcome Kapamilya!</span>
			<!-- REPLACE {URL}, {MEDIA_URL} & {DESCRIPTION} with the correct data -->
			<a class="icons icon-fb" href="https://www.facebook.com/sharer/sharer.php?u=@@link" data-title="@@title">FB</a>
			<a class="icons icon-twt" href="https://twitter.com/share?url=@@link&amp;text=@@text&amp;via=@@via" data-title="@@title" data->TWT</a>
		    <!-- <a class="icons icon-gplus" href="https://plus.google.com/share?url=@@link">G+</a> -->
		    <a class="icons icon-email" href="mailto:someone@example.com?Subject=@@title">EMAIL</a>
			<!-- END REPLACE -->
		</p>

	</div>

</div>