<div class="social-pane">
	<h1 class="block-title">Social</h1>
     <div class="social-holder">
        <ul class="social-list">
           <li>
              <div class="sprite icon fb">fb</div>
              <div class="slide">
                 <div class="button-holder">
                    <iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=58&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;appId=214417055405950" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:58px; height:35px;" allowTransparency="true"></iframe>
                 </div>
                 <span>
                    Like us <br/>
                    <span>Facebook</span>
                 </span>
              </div>
              <span class="count fb">
                 
              </span>
           </li>
           <li>
              <div class="sprite icon twitter">twitter</div>
              <div class="slide">
                 <div class="button-holder">
                    <a href="https://twitter.com/ABSCBNNews" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @cheannecruz</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                 </div>
                 <span>
                    Follow us <br/>
                    <span>Twitter</span>
                 </span>
              </div>
              <span class="count twitter">
                 000
              </span>
           </li>
           <li>
              <div class="sprite icon instagram">instagram</div>
              <div class="slide">
                 <div class="button-holder">
                    <a href="http://instagram.com/abscbnonline?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a>
                 </div>
                 <span>
                    Follow Us <br/>
                    <span>Instagram</span>
                 </span>
              </div>
              <span class="count instagram">
                 000
              </span>
           </li>
           <li>
              <div class="sprite icon youtube">youtube</div>
              <div class="slide">
                 <div class="button-holder">
                    <script src="https://apis.google.com/js/platform.js"></script>
                    <div class="g-ytsubscribe" data-channel="TheABSCBNNews" data-layout="default" data-count="hidden"></div>
                 </div>
                 <span>
                    Subscribe <br/>
                    <span>Youtube</span>
                 </span>
              </div>
              <span class="count youtube">
                 000
              </span>
           </li>
        </ul>
     </div>
  </div>