.memes {
	padding: 5px 0 2px;
	background-color: $gray;

	ul {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			display: inline-block;
			margin: 0;
			padding: 0;
			width: fluidity($small-block, $container);
			text-align: left;
			overflow: hidden;
			cursor: pointer;
		}
	}

	.title-pane {
		width: fluidity($small-block, $container);

		a {
			display: block;
			text-align: right;
			text-decoration: none;

			h1 {
				display: block;
				color: $light-gray;
			}

			&:hover {
				h1 {
					color: $fair;
				}
			}
		}

		.container {
			margin-top: 15%;
			width: 100%;
		}

	}

	.details {
		position: absolute;
		z-index: 2;
		bottom: -100%;
		padding: 0;
		display: block;
		width: 100%;
		height: 100%;
		color: $fair;
		text-decoration: none;

		.container {
			position: absolute;
			bottom: 10px;
		}
	}

	.overlay {
		z-index: 1;
	}

	.image {
		position: relative;
		z-index: 0;
		width: 100%;
	}

	.title {
		position: relative;
		margin: 0 0 5px;
		padding: 0 fluidity(20px, $small-block);
		@include use-font($museo-sans, $px18, normal, 900);
		text-transform: uppercase;
	}

	.excerpt {
		position: relative;
		display: block;
		margin: 0 0 10px;
		padding: 0 fluidity(20px, $small-block);
		@include use-font($museo-sans, $px18, normal, 700);
	}

	.byline {
		position: relative;
		display: block;
		margin: 0 0 5px;
		padding: 0 fluidity(20px, $small-block);
		@include use-font($museo-sans, $px12, normal, 700);
	}

}