.universal-menu {
	float: right;
	display: block;

	ul {
		margin: 0;
		padding: 0;
		height: 35px;
		line-height: 35px;
		@include clearfix();

		li {
			float: left;
			display: block;
			padding-left: 10px;

			a {
				color: $fair;
				text-decoration: none;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}